/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.blank {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.blank__img {
  width: 100%;
}

.blank__more-info {
  font-family: fantasy, cursive;
}

.contain {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.contain__section {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.contain__input-new-task,
.contain__label-task,
.contain__input-text {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.contain__new-task-wrapper {
  display: flex;
}


ul {
  margin: 0;
  padding: 0px;
}

li, 
h3 {
  list-style: none;
}


input,
button {
  outline: none;
}

.contain__button-add,
.contain__button-edit,
.contain__button-delete {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.contain__button-add:hover,
.contain__button-edit:hover,
.contain__button-delete:hover {
  color: #3a3A3a;
}


.contain__heading-3,
.contain__label-new-task {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.input-text,
.contain__input-new-task,s {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.input-text:focus {
  color: #333;
}


.tin__label-new-task {
  display: block;
  margin: 0 0 20px;
}

.contain__input-new-task {
  width: 318px;
}


.contain__task-list {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contain__task-list > * {
  vertical-align: middle;
  width: 100px;
}

.contain__task-list > .contain__input-checkbox {
  margin: 0 10px;
}

.contain__task-list > .contain__label-task {
  padding-left: 80px;
  box-sizing: border-box;
  /*font-size: 18px;*/
  width: 226px;
  
}

.contain__task-list > .input-text {
  width: 226px;
}

.delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.contain__completed-tasks .contain__task-list .contain__label-task {
  text-decoration: line-through;
  color: #888;
  
}

/* Completed */
ul#completed-tasks label {
  text-decoration: line-through;
  color: #888;
  width: 100%;
  padding-left: 90px;
  
}

/* Edit Task */
.input-text {
  display: none;
}

.edit-mode .input-text {
  display: inline-block;
  width: 224px;
}

.hidden-label {
  display: none;
}

@media (max-width: 768px) {
.blank { 
  text-align: center;
}

}
